<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>activofijo</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="/dist/build.js"></script>
  </body>
</html>


<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAI7rUDaWbrq07zYGKoUMOPZB2iUuLlKus",
    authDomain: "activos-fijos-f10a2.firebaseapp.com",
    databaseURL: "https://activos-fijos-f10a2.firebaseio.com",
    projectId: "activos-fijos-f10a2",
    storageBucket: "activos-fijos-f10a2.appspot.com",
    messagingSenderId: "493946894239"
  };
  firebase.initializeApp(config);
</script>
